*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;

}


body {
    margin: 0;
    padding: 0;
    display: grid;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    height: 10%;
}
.question-container {
    margin: 0;
    padding: 35px;
    font-size: 25px;
    width: 75%;
    height: 50%;
}

.questionstyle {
    border: black solid;
}

.container {

    border-radius: 15px;
    border: navy solid;
    padding: 15px;
    position: relative;
    box-shadow: 0 0 10px 1px;
    width: 50vw;
}

.btn {
    border-radius: 10px;
    background-color: red;
    color: white;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.start-btn {
    
    justify-content: center;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-size: 25px;
    
}

.next-btn {
    
    justify-content: center;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-size: 25px;
    
}

.highscore-timer {
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, auto);

    
}

.controls {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.hide {
    display: none;
}

.instruction-header {
    justify-content: center;
}
.quiz-intructions {
    padding: 10px;
    max-width: 20px;
}